body {
  margin: auto;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

* {
  outline: 1px solid red;
}

.wrapper-all {
  width: 1200px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
}

p {
  text-align: center;
}

.main-navigation {
  line-height: 26px;
  background-color: #ffffff;
  position: relative;


}

.site-navigation {
  width: 1055px;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.site-navigation > li {
  width: 20%;
}

.site-navigation > li:nth-child(3) {
  text-align: right;
}

.site-navigation > li:nth-child(4) {
  text-align: right;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  font-weight: 700;
  display: block;
  padding: 20px 25px;

  /*padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;*/
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3)
}

/*Трехслойный бэкграунд.
Непонятно, как позиционировать*/
.main-header-welcome {
  width: 1200px;
  background-image: url("../img/polygon.png"), url("../img/welcome.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  min-height: 525px;
  background-size: 1200px 59px, 459px 353px, /*1200px 773px*/ cover;
  /*background-position: bottom, center, center;*/
  background-position: center bottom, 50% 50%, 50% 50%;
  background-color: #6ca485;
}


h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  width: 440px;
  display: flex;
  margin: 61px auto 38px auto;
}

.features p {
  font-size: 14px;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
}

.features {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.feature-item {
  font-size: 14px;
  line-height: 21px;
  text-align: center;

}

.feature-item-highlights {
  color: #ffffff;
  background-color: #81b3d2;
  display: flex;
}


.wrapper-feature-text {
  display: flex;
  flex-direction: column;
  /*width: 400px;*/
  padding: 46px 80px 64px 80px;
}

.wrapper-feature-icon {
  padding: 60px 0px 85px 0px;
  background-position: top center;
  background-repeat: no-repeat;
}

.wrapper-feature {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.wrapper-feature .feature-item  {
  width: 350px;
}

.home {
  background-image: url("../img/icon-home.svg");

}

.home h3 {
  margin-top: 30px;
}

.burger {
  background-image: url("../img/icon-burger.svg");

}

.burger h3 {
  margin-top: 30px;
}

.gift {
  background-image: url("../img/icon-gift.svg");

}

.gift h3 {
  margin-top: 30px;
}

.with-grey-backgrnd {
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;

  /*margin-left: 0px;*/
}

/*ширина для колонок в последней строке фич
Получилось что у всех 3 строк в блоке разная,
поэтому они разъехались

.with-grey-backgrnd :nth-child(1) {
    width: 208px;
}

.with-grey-backgrnd :nth-child(2) {
    width: 262px;
}

.with-grey-backgrnd :nth-child(3) {
    width: 246px;
}
*/


/*Не получается вставить карту фоном для формы,
она либо принимает размеры формы,
*/
.hotel-search-form {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  display: flex;
  width: 568px;
  margin: 52px auto 78px auto;
  padding-left: 50px;
  /*background-color: #6ca485;
  background-image: url(../img/map.png);*/
}

/*...либо форма теряет свой контур*/
.wrapper-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 568px;
  margin: 52px auto 78px auto;
}

.hotel-search h3 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.hotel-search-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hotel-search-header {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.hotel-search-header:hover {
  background-color: #604e43;
}

.hotel-search-header:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.wrapper-date-in {
  display: flex;

}

.wrapper-date-out {
  display: flex;
}

.wrapper-people-number{
  display: flex;
}

.hotel-search-form input {
  background-color: #f2f2f2;
}

.hotel-search-form input:hover {
  background-color: #ebebeb;
}

.hotel-search-form input:active {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.button-search {
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 108px 36px 135px;
}

.footer-contacts p {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  margin:0;
}

.footer-contacts p:nth-child(1) {
  margin-bottom: 2px;
}

.footer-social {
  text-align: center;
  display: flex;
  align-items: center;
}

.social-button {
  color: #000000;
  background-color: #81b3d2;
}

.tw, .fb {
  margin-right: 6px;
}

.tw {
  padding: 17px 14px 16px 15px;
}

.fb {
  padding: 13px 17px;
}

.yt {
  padding: 16px 13px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo a {
  width: 108px;
}

.footer-copyright {
  text-align: right;
  margin-right: 8px;
}



/*----------------------catalog---------------------------*/

.site-navigation .current-page {
  color: #766357;
}

.hotel-filter-form {
  display: flex;
  padding: 30px 72px;
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
  background-position: center;
  background-color: #766357;
}

.hotel-filter-item{
  padding-left: 35px;
  margin-top: 30px;
}


/*Стилизация чекбоксов*/

 /*Делаем label блочным,
 задаём относительное позиционирование.
 Задаём курсор с указателем и
 отменяем выделение текста подписи цветом.*/
.hotel-filter-item label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

/*прячем стандартное оформление чекбокса*/
.hidden:not(:focus):not(:active),
input[type="checkbox"].hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.item-filter-checkbox + label::before {
  content: "";
}

/*стилизованные чекбоксы
для полей выбора с типом checkbox*/
.item-filter-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -1px;
  left: -36px;

  width: 30px;
  height: 30px;

  background-image: url("../img/checkbox-on.svg");
  fill: #ffffff;
  stroke: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: invert();
}

.item-filter-checkbox:not(:checked) + label::after {
  content: "";

  position: absolute;
  top: -1px;
  left: -36px;

  width: 30px;
  height: 30px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: invert();

}

.hotel-filter-house, .hotel-filter-infrastructure {
  border: none;
  margin-right: 60px;
  padding: 0;
}


/*Стилизация фильтра, предложенная Академией*/

.hotel-filter-price {
  margin-left: auto;
  border: none;
  justify-content: flex-end;
  width: 314px;

  color: #ffffff;
  text-transform: uppercase;

  margin-right: 0;
  padding-right: 0;
}


.filter-range-title, .hotel-filter-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

/*полоска между полями*/
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .price-min,
.price-controls .price-max {
  width: 90px;
  padding-left: 65px;
}

.price-controls label,
.price-controls input {
  vertical-align: baseline;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

/*шкала для ползунков*/
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

/*заполненная часть шкалы*/
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

/*ползунки*/
.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

/*кнопка "Показать"*/
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/*--------------------------------*/


.catalog-page h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.hotel-sort-area {
  display: flex;
  width: 1055px;
  margin: 0px auto;
}

.sorting {
  display: flex;
  align-items: center;
  width: 881px;
  margin-left: auto;
}

.find.count {
  font-size: 21px;
  font-weight: bold;
}

.arrow-up {
  margin-left: auto;
}

.sorting .arrow {
  border:none;
}

.arrow path {
  fill: #cacaca;
}

.arrow path:hover {
  fill:#000000;
}

.arrow path:active {
  fill:#81b3d2;
}

.arrow.active path {
  fill: #81b3d2;
}


.sorting-title {
  margin-right: 40px;
  font-size: 12px;
}

.sort-type {
  margin-right: 33px;
  font-size: 12px;
}

/*подчеркивание теперь сделано
через пэддинг-боттом
вместо текст-декорейшн*/
.sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px #81b3d2 dotted;
  padding-bottom: 1px;
}

.sorting .active {
  color: #81b3d2;
  border-bottom: none;
}

.sorting a:hover {
  color: #81b3d2;
  border-bottom: none;
}

.sorting a:active {
  color: #000000;
  border-bottom: none;
}

.hotels-result p {
  font-size: 14px;
  line-height: 21px;
}

.hotel-card {
  display: flex;
  width: 1055px;
  margin: 0px auto;
  padding: 30px 0;
}

.hotel-separator{
  border-bottom: 1px solid #eeeeee;
}

.hotel-rating {
  margin-left: auto;
  width: 110px;
  text-align: right;
}

.hotel-card-info {
  display: flex;
  width: 260px;
  flex-wrap: wrap;
}

.hotel-card-info h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  width: 280px;
}

.hotel-card-info p {
  margin-right: 6px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 110px;
  font-size: : 14px;
  text-align: left;
}

.hotel-card figure {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}

.star {
  fill:#81b3d2;
}


.rating-number {
  margin-top: 50px;
  margin-bottom: 0;
  background-color: #f2f2f2;
}

/*Кнопки "Подробнее" и "Забронировать"
теперь имеют собственные классы,
высота и ширина регулируется пэддингами*/

.hotels-result .booking-button {
  background-color: #766357;
  color: #ffffff;
  padding: 3px 16px;
  width: 110px;
  text-align: center;
  height: 20px;

}

.hotels-result .booking-button:hover {
  background-color: #604e43;
}

.hotels-result .booking-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-result .more-button {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 3px 16px;

  width: 78px;
  margin-right:6px;
  text-align: center;
  height: 20px;
}

.hotels-result .more-button:hover {
  background-color: #669ec0;
}

.hotels-result .more-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


.hotels-result h3:hover {
  color: #81b3d2;
}

.hotels-result h3:active {
  color: rgba(0, 0, 0, 0.3);
}
