body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.wrapper-all {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-header {
  background-image: url("../img/polygon.png"), url("../img/welcome.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  min-height: 565px;
  background-size: 1202px 59px, 459px 353px, cover;
  background-position: center bottom -1px, 50% 62%, 50% 11%;
  background-color: #444584;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  width: 140px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.main-navigation {
  background-color: #ffffff;
  position: relative;
}

.site-navigation {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.site-navigation > li {
  width: 20%;
  max-width: 120px;
  padding: 20px 60px;
}

.site-navigation > li:nth-child(3) {
  text-align: right;
  margin-left: 20%;
}

.site-navigation > li:nth-child(4) {
  text-align: right;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  font-weight: 700;
  display: block;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3)
}

h2 {
  font-size: 21px;
  text-align: center;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 55px auto 25px auto;
}

.features {
  background-color: white;
  padding-top: 1px;
}

.features p {
  text-align: center;
}

.wrapper-feature-text p, .wrapper-feature-icon p {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 22px;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
  padding: 0 110px;
}

.features > p {
  margin-bottom: 50px;
  padding: 0 100px;
}

.feature-item-img {
  width: 800px;
  height: 256px;
}

.feature-item {
  font-size: 14px;
  text-align: center;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature-item-highlights {
  color: #ffffff;
  background-color: #81b3d2;
}

.wrapper-feature-text {
  width: 400px;
  padding: 28px 0;
}

.wrapper-feature-icon {
  padding: 135px 0px 67px 0px;
  background-repeat: no-repeat;
  width: 400px;
}

.wrapper-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
}

.wrapper-feature .feature-item  {
  width: 350px;
}

.home {
  background-image: url("../img/icon-home.svg");
  background-position: center 61px;
}

.home h3 {
  margin-top: 30px;
}

.burger {
  background-image: url("../img/icon-burger.svg");
  background-position: center 63px;
}

.burger h3 {
  margin-top: 30px;
}

.gift {
  background-image: url("../img/icon-gift.svg");
  background-position: center 57px;
}

.gift h3 {
  margin-top: 30px;
}

.with-grey-background {
  background-color: #eeeeee;
  min-height: 255px;
}

.hotel-search {
  background:#ffffff;
  padding-top: 25px;
  position: relative;
  z-index: 6;
}

.hotel-search > p {
  padding: 0 310px;
  margin-bottom: 51px;
}

.hotel-search-form {
  position: relative;
  font-size: 14px;
  text-align: center;
  width: 565px;
  margin: 0 auto 0 auto;
  font-weight: 700;
  background-color: #ffffff;
}

.hotel-search-form input {
  background-color: #f2f2f2;
  text-transform: uppercase;
  font-weight: bold;
}

.hotel-search-form input:hover {
  background-color: #ebebeb;
}

.hotel-search-form input:active {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.wrapper-search-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 455px;
  padding: 55px;
  position: absolute;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hotel-search-hidden {
  height: 0px;
  padding: 0 55px;
}

.wrapper-people-number button {
  width: 38px;
  height: 38px;
  border: 0;
  background-color: #f2f2f2;
  color: #a9a9a9;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper-people-number button:hover,
.wrapper-people-number input:hover {
  background-color: #f2f2f2;
  color: #000000;
  border: 0;
}

.wrapper-people-number button:active,
.wrapper-people-number input:active {
  color: #81b3d2;
  border: 0;
}

.wrapper-people-number input {
  width: 36px;
  height: 36px;
  text-align: center;
  border: 0;
}

.wrapper-input {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-less {
  margin-left: auto;
}

.hotel-search > h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 20px;
}

.hotel-search > p {
  text-align: center;
}

.hotel-search-header {
  position: relative;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  margin-bottom: 0;
  padding: 30px 0;
  cursor: pointer;
}

.hotel-search-header:hover {
  background-color: #604e43;
}

.hotel-search-header:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.wrapper-date-in,
.wrapper-date-out,
.wrapper-people-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wrapper-date-in {
  margin-top: 0;
  margin-bottom: 26px;
}

.calendar-button {
  position: absolute;
  top: 8px;
  right: 7px;
}

.calendar-button:hover path {
  fill: #000000;
}

.calendar-button:active path {
  fill: #81b3d2;
}

.wrapper-date-in > input,
.wrapper-date-out > input {
  width: 70%;
  padding: 10px;
}

.children-label {
  margin-left: 50px;
}

.button-search {
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  font-family: inherit;
  cursor: pointer;
  width: 100%;
  margin-top: 39px;
  padding: 17px;
  text-transform: uppercase;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  position: relative;
}

.map p {
  top: 0;
  left: 0;
  margin: 0;
}

.map iframe {
  position: absolute;
  z-index: 2;
  border: none;
  width: 100%;
  height: 100%;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 99px 22px 133px;
}

.footer-contacts p {
  font-size: 21px;
  text-align: left;
  margin:0;
  width: 235px;
}

.footer-contacts a {
  font-size: 21px;
  text-align: left;
  margin:0;
  color: #000;
}

.footer-social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 166px;
}

.social-button {
  color: #000000;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active svg {
  opacity: 0.3;
}

.tw, .fb {
  margin-right: 6px;
}

.tw {
  padding: 16px 14px 11px 15px;
}

.fb {
  padding: 13px 17px 7px 17px;
}

.yt {
  padding: 16px 13px 10px 13px;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo a {
  width: 117px;
  margin: 13px 0px 10px 6px;
}

.footer-copyright {
  text-align: right;
  margin: 0 0 0 205px;
}
.logo-htmlacademy:hover path {
  fill: #81b3d2;
}

.logo-htmlacademy:active path {
  fill: #bdbbbc;
}

.site-navigation .current-page {
  color: #766357;
}

.hotel-filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 72px 30px 70px;
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
  background-position: center;
  background-color: #766357;
}

.hotel-filter-item{
  padding-left: 39px;
  margin-top: 24px;
}

.hotel-filter-item label{
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hidden:not(:focus):not(:active),
input[type="checkbox"].hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.item-filter-checkbox + label::before {
  content: "";
}

.item-filter-checkbox + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -39px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-filter-checkbox:checked + label::after {
  content: "";
  background-image: url("../img/checkbox-on.svg");
}

.item-filter-checkbox:not(:checked) + label::after {
  content: "";
  background-image: url("../img/checkbox-off.svg");
}

.hotel-filter-house, .hotel-filter-infrastructure {
  border: none;
  margin-right: 118px;
  padding: 0;
  width: 150px;
}

.hotel-filter-price {
  margin-left: auto;
  border: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 317px;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 0;
  padding: 0;
}

.filter-range-title, .hotel-filter-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
 }

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  padding-top: 5px;
  cursor: pointer;
}

.price-controls .price-min,
.price-controls .price-max {
  width: 83px;
  padding-left: 64px;
}

.price-controls label,
.price-controls input {
  vertical-align: baseline;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 84px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.catalog-page h3 {
  font-size: 21px;
}

.hotel-sort-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1055px;
  margin: 0;
  padding-left: 72px;
  padding-right: 73px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  width: 1055px;
}

.find-count {
  margin-top: 30px;
  margin-bottom: 27px;
}

.arrow-up {
  margin-left: auto;
  margin-right: 13px;
}

.sorting .arrow {
  border: none;
}

.arrow path {
  fill: #cacaca;
}

.arrow path:hover {
  fill: #000000;
}

.arrow path:active {
  fill: #81b3d2;
}

.arrow.active path {
  fill: #81b3d2;
}

.sorting-title {
  margin-right: 40px;
  margin-left: 35px;
  font-size: 12px;
}

.sort-type {
  margin-right: 33px;
  font-size: 12px;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px #81b3d2 dotted;
  padding-bottom: 1px;
}

.sorting .active {
  color: #81b3d2;
  border-bottom: none;
}

.sorting a:hover {
  color: #81b3d2;
  border-bottom: none;
}

.sorting a:active {
  color: #000000;
  border-bottom: none;
}

.hotels-result p {
  font-size: 14px;
}

.hotel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1055px;
  margin: 0;
  padding: 30px 72px 24px 73px;
}

.hotel-separator{
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
}

.hotel-rating {
  margin-left: auto;
  min-width: 110px;
  max-width: 200px;
  text-align: right;
}

.hotel-card-info h3 {
  margin-bottom: -8px;
  margin-top: -8px;
  max-width: 700px;
}

.hotel-card-info p {
  margin-right: 6px;
  margin-bottom: 5px;
  margin-top: 5px;
  min-width: 110px;
  max-width: 500px;
  font-size: 14px;
  text-align: left;
}

.hotel-card figure {
  margin: 0 29px 0 0;
  width: 135px;
}

.hotel-card-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  margin-bottom: 11px;
}

.star {
  margin-left: 2px;
}

.star path {
  fill: #81b3d2;
}

.rating-number {
  margin-top: 43px;
  margin-bottom: 0;
  background-color: #f2f2f2;
}

.hotels-result {
  background-color: #ffffff;
}

.hotels-result .booking-button {
  background-color: #766357;
  color: #ffffff;
  padding: 5px 17px;
  width: 110px;
  text-align: center;
  height: 20px;
}

.hotels-result .booking-button:hover {
  background-color: #604e43;
}

.hotels-result .booking-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-result .more-button {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 5px 17px;

  width: 78px;
  margin-right: 1px;
  text-align: center;
  height: 20px;
}

.hotels-result .more-button:hover {
  background-color: #669ec0;
}

.hotels-result .more-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-result h3:hover {
  color: #81b3d2;
}

.hotels-result h3:active {
  color: rgba(0, 0, 0, 0.3);
}
